<head>
    <meta charset="UTF-8">
    <title>Auth - {{ title }}</title>
    <meta name="description" content="Authentication service.">

    <!-- Styles -->
    <link rel="stylesheet" href="/assets/js/bootstrap.css">
    <link rel="stylesheet" href="/assets/js/jasny-bootstrap.css">
    <link rel="stylesheet" href="/assets/js/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/js/custom.css">
</head>
